body {
    background-color: #F7EEDF;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: #3E3A44;
    text-shadow: 2px 2px 2px #F9BF7D;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    font-weight: bold;
    color: #3E3A44;
    text-shadow: 2px 2px 2px #F9BF7D;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px #F9BF7D;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    background-color: #3E3A44;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #F9BF7D;
  }
  
  textarea {
    width: 80%;
    height: 200px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px #F9BF7D;
    margin-top: 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #3E3A44;
    text-shadow: 2px 2px 2px #F9BF7D;
  }
  
  button {
    background-color: #3E3A44;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #F9BF7D;
    margin-right: 10px;
  }
  