/* Set body background color */
body {
  background-color: #F7EEDF;
  font-family: Arial, sans-serif;
  font-size: 18px;
  }
  
  /* Set container style */
  .container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Set story text font size and line height */
  .story {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #3E3A44;
  text-shadow: 2px 2px 2px #F9BF7D;
  }
  
  /* Set audio player style */
  audio {
  width: 100%;
  margin-bottom: 20px;
  }
  
  /* Set button style */
  button {
  background-color: #3E3A44;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px #F9BF7D;
  }
  
  /* Set button hover style */
  button:hover {
  background-color: #2C2A32;
  }
  
  /* Set input style */
  input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #3E3A44;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #F9BF7D;
  }
  
  /* Set form style */
  form {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Set label style */
  label {
  font-weight: bold;
  color: #3E3A44;
  text-shadow: 2px 2px 2px #F9BF7D;
  margin-top: 10px;
  }
  
  /* Set textarea style */
  textarea {
  width: 80%;
  height: 200px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px #F9BF7D;
  margin-top: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #3E3A44;
  text-shadow: 2px 2px 2px #F9BF7D;
  }
  
  /* Set submit input style */
  input[type=submit] {
  background-color: #3E3A44;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  box-shadow: 2px 2px 2px #F9BF7D;
  }
  
  /* Set paragraph style */
  p {
  margin: 0;
  }