<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Generated Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylestory.css') }}">
</head>
<body>
    <h1>Your Story</h1>
    <p>{{ story }}</p>
    <audio id="story_audio" controls>
        <source src="{{ url_for('serve_audio', filename=audio_file) }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <div class="audio-buttons">
        <button onclick="document.getElementById('story_audio').play()">Play Audio</button>
        <a href="{{ url_for('serve_audio', filename=audio_file) }}" download><button>Download Audio</button></a>
    </div>
</body>
</html>
